:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.twin-editor {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.editor {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex: 1;
}

#monaco-editor-root {
  display: flex;
  flex: 1;
}

#editorPreview {
  display: flex;
  flex: 1;
  background-color: white;
}

.loading-player {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 26, 26);
}

.loading-player>video {
  display: flex;
  background-color: transparent;
  width: 100px;
  height: 100px;
}

video {
  pointer-events: none;
}

video::-webkit-media-controls {
  display: none;
}

video::-ms-media-controls {
  display: none;
}

video::-moz-media-controls {
  display: none;
}

video::-o-media-controls {
  display: none;
}

body {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

#editors {
  position: relative;
  min-width: 0;
  height: 45vh;
  border: 1px solid var(--vscode-editorWidget-border);
}

#panel {
  display: flex;
  flex: 1;
  border: 1px solid var(--vscode-editorWidget-border);
  min-height: 0;
}

.standalone-editor {
  width: 100%;
  height: 55vh;
}

#titleBar {
  position: relative;
  flex: none;
}

#banner {
  flex: none;
}

#workbench-container {
  height: 100vh;
  display: flex;
  flex-direction: column
}

#workbench-top {
  display: flex;
  gap: 20px;
  flex: 2;
  min-height: 0
}