# dependencies
/node_modules
/.pnp
.pnp.js

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Turborepo
.turbo

# ESLint
lint-results/

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/

# NX
tmp
**build**
.vscode/workspaces.*
.env