# dependencies
**node_modules
/.pnp
.pnp.js

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Bit
public/
.bit/

# Turborepo
.turbo

# ESLint
lint-results/

**build/
**dist/

**.next/

**/.swc
.env
.npmrc
test.js
*.tgz
*.log
**/_release

# VITE
**benchmark/
**coverage/